* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    width: 1280px;
    margin: 20px auto;
    border: 1px solid lightgray;
}

.class_for_main {}

/*********************стили для шапки******************/
/*********************стили для шапки******************/
/*********************стили для шапки******************/
.main_header {
    padding: 50px 50px 51px 50px;
    background-color: #445162;
    box-sizing: content-box;
}

.main_header::after {
    content: " ";
    display: block;
    clear: both;
}

.class_for_main_header {
    display: inline-block;
    width: 465px;
    height: 220px;
    float: left;
}

.h1_header {
    line-height: 44px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial regular";
    font-size: 60px;
    font-weight: 400;
}

.ul_headre {
    position: relative;
    height: 127px;
    margin-left: 38px;
    margin-top: 48px;
    list-style-type: none;
}

.li_header {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial regular";
    font-size: 20px;
    font-weight: 400;
    /*    line-height: 36px;*/
}

.li_header::before {
    content: '';
    display: block;
    width: 25px;
    height: 19px;
    background: url(../img/check_icon.png);
    background-size: cover;
    position: absolute;
    left: -35px;
}

.li_header:not(:first-child) {
    margin-top: 11px;
}

.img_header {
    float: right;
    display: inline-block;
    width: 469px;
    height: 214px;
    background-color: white;
    font-size: 0;
}

/*******стили для секции информация о продукте*********/
/*******стили для секции информация о продукте*********/
/*******стили для секции информация о продукте*********/
.div_about_you_product {
    padding: 50px;
    box-sizing: content-box;
}

.div_about_you_product::after {
    content: " ";
    display: block;
    clear: both;
}

.section_about_you_product {
    display: inline-block;
    float: left;
    width: 653px;
    height: 245px;
}

.about_product_h2 {
    float: left;
    line-height: 28px;
    color: #445161;
    font-family: "Arial regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.ps_about_you_product {
    float: left;
    width: 653px;
    height: 63px;
    font-family: "Arial regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.p1 {
    margin-top: 30px;
}

.p2 {
    margin-top: 20px;
}

.video_about_you_product {
    display: inline-block;
    float: right;
    width: 430px;
    height: 245px;
    background-color: #445162;
}

.video_about_you_product:focus,
.video_about_you_product:active {
    outline: none;
}

/******стили для секции достониства и плюсы продукта*******/
/******стили для секции достониства и плюсы продукта*******/
/******стили для секции достониства и плюсы продукта*******/
.dignity_product {
    background-color: #f5f5f5;
    padding: 50px 73px 51px 50px;
    box-sizing: content-box;
}

.dignity_product::after {
    content: ' ';
    display: block;
    clear: both;
}

.h2_dignity_product {
    clear: both;
    text-align: center;
    color: #445161;
    font-family: "Arial regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.column_dignity::after {
    content: ' ';
    display: block;
    clear: both;
}

.column_dignity {
    display: inline-block;
    width: 568px;
    margin-top: 29px;
}

.column_dignity.left {
    float: left;
}

.column_dignity.right {
    float: right;
}

.dignity_ditails {
    float: left;
    display: inline-block;
    width: 568px;
}

.column_dignity details:not(:first-child) {
    margin-top: 35px;
}

.dignity_ditails::after {
    content: '';
    display: block;
    clear: both;
}

.sum_ditails {
    display: inline-block;
    float: left;
    width: 567px;
    color: #333333;
    font-family: "Arial regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    }

.sum_ditails::-webkit-details-marker {
    display: none;
}

.sum_ditails::before {
    content: '';
    display: block;
    clear: both;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../img/plus_product.png) no-repeat;
    background-size: 63%;
    background-position: center;
    background-color: #445161;
    margin-bottom: 50px;
    margin-top: 6px;
    margin-right: 8px;
}

.dignity_ditails[open] .sum_ditails::before {
    content: '';
    display: block;
    clear: both;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../img/minys_product.png) no-repeat;
    background-size: 63%;
    background-position: center;
    background-color: #445161;
    margin-bottom: 50px;
    margin-top: 6px;
    margin-right: 8px;
}

.sum_ditails:hover::before {
    content: '';
    display: block;
    clear: both;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../img/plus_product.png) no-repeat;
    background-size: 63%;
    background-position: center;
    background-color: hotpink;
    margin-bottom: 50px;
    margin-top: 6px;
    margin-right: 8px;
}

.dignity_ditails[open] .sum_ditails:hover::before {
    content: '';
    display: block;
    clear: both;
    width: 32px;
    height: 32px;
    float: left;
    background: url(../img/minys_product.png) no-repeat;
    background-size: 63%;
    background-position: center;
    background-color: deeppink;
    margin-bottom: 50px;
    margin-top: 6px;
    margin-right: 8px;
}

.drop_details_dignity {
    margin-left: 49px;
    color: deeppink;
    font-family: "Arial regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-style: italic;
}



.sum_ditails:active,
.sum_ditails:focus {
    outline: none;
}

/****************начало секции скриншотов******************/
/****************начало секции скриншотов******************/
/****************начало секции скриншотов******************/
.section_scrinshot {
    margin: 51px 66px 49px 50px;
}

.section_scrinshot::after {
    content: '';
    display: block;
    clear: both;
}

.h2_scrishot {
    text-align: center;
    color: #445161;
    font-family: "Arial regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.figure_img_scrinshot {
    width: 575px;
    display: inline-block;
}

.scrinsot_images {
    float: left;
    display: inline-block;
    width: 200px;
    height: 150px;
    background-color: #445162;
    font-size: 0;
}

.section_scrinshot figure:nth-of-type(1),
.section_scrinshot figure:nth-of-type(2) {
    margin-top: 35px;
}

.section_scrinshot figure:nth-of-type(3),
.section_scrinshot figure:nth-of-type(4) {
    margin-top: 30px;
}

.section_scrinshot figure:nth-of-type(1),
.section_scrinshot figure:nth-of-type(3) {
    float: left;
}

.section_scrinshot figure:nth-of-type(2),
.section_scrinshot figure:nth-of-type(4) {
    float: right;
}

.desc_img_scrinshot {
    display: inline-block;
    float: left;
    width: 360px;
    margin-left: 15px;
    ;
}

.h3_desc_img_scrinshot {
    float: left;
    color: #445161;
    font-family: "Arial regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
}

.p_desc_img_scrinshot {
    float: left;
    color: #333333;
    font-family: "Arial regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 15px;
}

/**********стили для секции отзывы*******************/
/**********стили для секции отзывы*******************/
/**********стили для секции отзывы*******************/
.section_reviews {
    margin: 50px 70px 50px 50px;
    background-color: #ebebeb;
}

.section_reviews::after {
    content: '';
    display: block;
    clear: both;
}

.h2_reviews {
    margin-top: 99px;
    text-align: center;
    color: #445161;
    font-family: "Arial regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.article_reviews {
    display: inline-block;
}

.section_reviews article:nth-of-type(1),
.section_reviews article:nth-of-type(3) {
    float: left;
}

.section_reviews article:nth-of-type(2),
.section_reviews article:nth-of-type(4) {
    float: right;
}

.section_reviews article:nth-of-type(1),
.section_reviews article:nth-of-type(2) {
    margin-top: 35px;
}

.section_reviews article:nth-of-type(3),
.section_reviews article:nth-of-type(4) {
    margin-top: 20px;
}

.img_foto_reviews {
    display: inline-block;
    float: left;
    width: 75px;
    height: 75px;
    background-color: #445162;
    border-radius: 50%;
    font-size: 0;
}

.paragrafs_review {
    float: left;
    display: inline-block;
}

.p_reviews {
    display: inline-block;
    float: left;
    margin-left: 43px;
    margin-top: 16px;
    width: 436px;
    color: #333333;
    font-family: "Arial regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    font-style: italic;
}

.name_athor {
    width: 68px;
    color: #989898;
    font-family: "Arial regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}

.footer_reviews {
    float: left;
    clear: both;
    display: inline-block;
    margin-top: 15px;
    margin-left: 43px;
}

/**************** секция купить сейчас ********************/
/**************** секция купить сейчас ********************/
/**************** секция купить сейчас ********************/
.section_buy_now {
    padding: 50px 145px 50px 145px
}

.section_buy_now::after {
    content: " ";
    display: block;
    clear: both;
}

.h3_buy_now {
    text-align: center;
    color: #445161;
    font-family: "Arial regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.sstndart {
    background-color: #445162;
    float: left;
    width: 300px;
    margin-top: 208px;
    border-radius: 5px;
}

.spremium {
    background-color: #445162;
    float: left;
    width: 300px;
    margin-left: 45px;
    margin-top: 122px;
    border-radius: 5px;
}

.slux {
    background-color: #445162;
    float: left;
    width: 300px;
    margin-left: 45px;
    margin-top: 37px;
    border-radius: 5px;
}

.h3_mini_section {
    text-align: center;
    margin-top: 16px;
    color: #ffffff;
    font-family: "Arial regular";
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    line-height: 18px;
}

.p_mimi_section {
    text-align: center;
    height: 71px;
    background-color: white;
    color: #445162;
    font-family: "Arial regular";
    font-size: 40px;
    font-weight: 400;
    line-height: 71px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 17px;
}

.ol_mini_section {
    list-style-position: inside;
    margin-left: 18px;
    margin-top: 21px;
    color: #ffffff;
    font-family: "Arial regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.buttom_buy {
    display: inline-block;
    margin: 20px 20px 20px;
    width: 260px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    color: #445161;
    font-family: "Arial regular";
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.buttom_buy:hover {
    background-color: hotpink;
}

.buttom_buy:active {
    background-color: lightpink;
}

/**********************Contacs*********************/
/**********************Contacs*********************/
/**********************Contacs*********************/
.cotacts_main {
    padding: 53px 246px 49px 249px;
    background-color: #445162;
}

.cotacts_main::after {
    content: '';
    display: block;
    clear: both;
}

.form_cotacts {
    display: inline-block;
    float: left;
    width: 515px;
    margin-top: 31px;
}

.form_cotacts:active,
.form_cotacts:focus {
    outline: none;
}

.h3_cotacts_main {
    text-align: center;
    clear: both;
    color: #ffffff;
    font-family: "Arial regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.input_name_cotacts {
    width: 500px;
    height: 40px;
    display: block;
    margin-bottom: 21px;
    border: 1px solid#445162;
    border-radius: 5px;
    padding-left: 10px;
    color: #445162;
    font-family: "Arial regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input_name_cotacts:active,
.input_name_cotacts:focus {
    outline: none;
}

.input_textarea_cotacts {
    width: 500px;
    height: 170px;
    display: block;
    margin-bottom: 21px;
    border: 1px solid#445162;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    color: #445162;
    font-family: "Arial regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input_textarea_cotacts:active,
.input_textarea_cotacts:focus {
    outline: none;
}

.input_button_cotacts {
    margin-left: 180px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #445162;
    font-family: "Arial regular";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #fff;
}

.input_button_cotacts:active,
.input_button_cotacts:focus {
    outline: none;
}

.input_button_cotacts:hover {
    background-color: hotpink;
}

.input_button_cotacts:active {
    background-color: lightpink;
}

.row_cotacts_cont::after {
    content: '';
    display: block;
    clear: both;
}

.fig_skype {
    display: inline-block;
    width: 24px;
    height: 26px;
    background: url(../img/skype_icon.png) no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
}

.fig_flower {
    display: inline-block;
    width: 24px;
    height: 26px;
    background: url(../img/icq_icon.png) no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
}

.fig_email {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/email_icon.png) no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
}

.fig_phon {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/phone_icon.png) no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
}

.section_cotacts_main {
    float: right;
    display: inline-block;
    margin-top: 33px;
}

.span_cotacts {
    display: inline-block;
    width: 165px;
    color: #ffffff;
    font-family: "Arial regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 5px;
    float: left;
}

.row_cotacts_cont {
    padding: auto 0;
}

.rfflower {
    margin-top: 18px;
}

.rfcemail {
    margin-top: 19px;
}

.rfcphon {
    margin-top: 21px;
}

.cocseti {
    float: left;
    margin-top: 32px;
    width: 250px;
    height: 44px;
}

.button_cocseti {
    width: 41px;
    height: 41px;
    float: left;
    margin-left: 1px;
    /*    border: 1px solid yellow;*/
    border-radius: 50%;
}

.button_cocseti:nth-child(1) {
    background: url(../img/twiter.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 2px;
}

.button_cocseti:nth-child(2) {
    background: url(../img/f.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 6px;
}

.button_cocseti:nth-child(3) {
    background: url(../img/in.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 6px;
}

.button_cocseti:nth-child(4) {
    background: url(../img/g.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 6px;
}

.button_cocseti:nth-child(5) {
    background: url(../img/you.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 6px;
}

.footer_main {
    height: 26px;
    clear: both;
}

.h3_footer_main {
    text-align: center;
    color: #312d2d;
    font-family: "Arial regular";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}